* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  height: 48px;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
}

.text_button {
  font-size: 14px;
  font-family: arial, sans-serif;
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 0px 5px;
}

.text_button:hover {
  text-decoration: underline;
}

#apps_button {
  margin: 0px 4px 0px 12px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background: white;
  width: 36px;
  height: 36px;
}

#apps_button:hover {
  background: rgba(245, 240, 240, 0.699);
  box-shadow: 0px 0px 4px rgba(196, 190, 190, 0.699);
}

#settings_button {
  margin: 0 12px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background: orange;
  color: white;
  width: 36px;
  height: 36px;
}

#settings_button:hover {
  box-shadow: 0px 0px 4px gray;
}

#header_left {
  margin-left: 10px;
}

#header_right {
  display: flex;
  align-items: center;
  padding-right: 4px;
}

#google_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.google_body {
  margin-top: 280px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.group {
  display: flex;
  align-items: center;
  gap: 16px;
  border-style: solid;
  border-color: rgb(236, 235, 235);
  border-width: 2px;
  border-radius: 32px;
  padding: 8px 24px;
}

#searchinput {
  display: inline;
  width: 400px;
  font-size: 14px;
  padding: 12px 0px 12px 0px;
  border: none;
}

#searchinput::after {
  outline: none;
  border: none;
}

.search_buttons:hover {
  border-color: rgb(236, 235, 235);
  box-shadow: 0px 1px 2px lightgray;
}
.search_buttons {
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  background-color: #f8f9fa;
  font-size: 14px;
  margin: 12px 4px;
  padding: 0px 16px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
}

.search_buttons:hover:active {
  border-color: blue;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  gap: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.country {
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 30px;
  border-bottom: 1px solid lightgray;
}

.bottom {
  padding: 15px 30px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
}

.botton_left {
  gap: 30px;
}

#glass {
  height: 20px;
}

.pic {
  height: 26px;
}
